.button:hover{

    -fx-background-color: #00c853;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
}

.button{
    -fx-background-color: #ffffff;
}

.pane{

}

.button1:hover{

    -fx-background-color: #cc3333;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
}

.button{
    -fx-background-color: #ffffff;
}